.grids{
    width: 960px;
    height: 960px;
    margin: auto;
}

.gridRow{
    display: flex;
}

.cell{
    color:RED;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin: 1px;
    box-sizing: border-box;
}