.gridRow{
    border: 1px solid black;
    width: 500px;
    height:25px;
    box-sizing: border-box;
    background-color: blue;
    display: flex;
}

.cell{
    color:RED;
    border: 1px solid black;
    width: 25px;
    height:25px;
}